body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #4a90e2, #7cb0f9, #4a90e2, #7cb0f9); 
  background-size: 400% 400%; 
  animation: gradientAnimation 15s ease infinite; 
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; 
  }
  50% {
    background-position: 100% 50%; 
  }
  100% {
    background-position: 0% 50%; 
  }
}

.calculator-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}

/* Calculator left side */
.calculator-left {
  width: 20%;
  background-color: #f0f4f8;
  border-radius: 10px;
  padding: 20px;
}

.calculator-right {
  width: 25%;
  background-color: #f8f8f8; 
  border-radius: 10px;
  padding: 20px;
}

/* Title styles */
.calculator-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333333; 
}


.input-wrapper input {
  padding: 12px; 
  width: calc(100% - 40px); 
  border: 1px solid #cccccc; 
  border-radius: 5px;
  font-size: 20px; 
  text-align: center;
  font-weight: bold;
}

.input-wrapper {margin-top: 18px;}
.input-wrapper label {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #333333; 
}

.calculate-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2; 
  color: #ffffff; 
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto; 
  display: block; 
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.calculate-button:hover {
  background-color: #357ebd; 
}

.calculate-button,
.clear-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.calculate-button {
  background-color: #4a90e2; 
  color: #ffffff; 
}

.clear-button {
  background-color: #27ae60; 
  color: #ffffff; 
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-wrapper button {
  flex-basis: calc(50% - 10px);
}

.button-wrapper button:hover {
  filter: brightness(0.9);
}


.output-wrapper {
  margin-bottom: 10px;
  
}

.output-wrapper label {
  font-size: 12px;
  color: #000000;
  font-weight: bold;
}

.output-wrapper input {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  font-size: 12px;
  width: calc(100% - 20px); 
  border: 1px solid #cccccc; 
  border-radius: 5px;
  background-color: #f0f4f8; 
}

@media (max-width: 768px) {
  .calculator-container {
    flex-direction: column;
    align-items: center;
  }

  .calculator-left, .calculator-right {
    margin: 10%;
    width: 80%;
  }
}
